:host {
  display: block;
}

:host([hidden]) {
  display: none;
}

:host([border]) {
  article {
    border: 2px solid var(--calcite-color-border-2);
  }
}

article {
  @apply py-2 px-4 leading-normal rounded-sm;
}

article > * {
  @apply pointer-events-none;
}

.heading {
  @apply my-0 text-balance;
  color: var(--calcite-color-brand);
}

::slotted(p) {
  @apply my-0;
  color: var(--calcite-color-text-1);
}
